<!DOCTYPE html>
<html lang="en-US">
<head>
  <title> <%= @title %> </title>
  <%= stylesheet_link_tag 'application',
    media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="container">
      <header>
        <h1>Our Cookbook</h1>
      </header>
      <nav>
        <%=link_to_unless_current 'Home', root_url %>
        <%=link_to_unless_current 'Recipes', recipes_url %>
        <%=link_to_unless_current 'About', about_url %>
        <%=link_to_unless_current 'Contact', contact_url%>
      </nav>
      <% if notice %>
        <div id="notice">
            <%= notice %>
        </div>
      <% end %>
      <section class="content">
        <%= yield %>
      </section>
      <footer>
        <h4>Copyright <%=Date.today.year %> OurCookbook</h4>
      </footer>
    </div>
  </body>
</html>
